table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

#power th:nth-child(odd){background-color: #eb2138;}

#military {
  width: 100%;
  padding: 0px 0;
  text-align: center;
  margin-top: 10px;
}